
.tab_head {font-family: "Times New Roman", Times, serif; font-size: 13px; } 
.table_footer{font-family: "Times New Roman", Times, serif; font-size: 13px; }

table.indic_print_table { border-collapse:initial; border-spacing:0px;
       border-right:1px dotted rgb(150,150,150); border-left:0; border-bottom:1px dotted rgb(150,150,150); border-top:0;
       font-family: "Times New Roman", Times, serif; font-size: 13px; }

table.indic_print_table td { vertical-align:top; page-break-inside: avoid; 
    /*border:1px dotted rgb(150,150,150);*/
    border-left:1px dotted rgb(150,150,150); border-right:0; border-top:1px dotted rgb(150,150,150); border-bottom:0 ;
    padding-top:1px; padding-bottom: 0px; padding-left:2px;padding-right:0px;}

table.indic_print_table th { page-break-inside: avoid; 
   /*border:1px solid rgb(150,150,150);*/
   border-left:1px dotted rgb(150,150,150); border-right:0; border-top:1px dotted rgb(150,150,150); border-bottom:0 ;
   padding:2px; }

table.indic_print_table td.tab_street { border:1px solid black; font-family: "Courier New", Courier, monospace; font-size: 11px; font-weight: bold;}
#pheader { font-family: "Times New Roman", Times, serif; font-size: 13px; font-weight: bold;}
#pheader2 { font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: bold;}

.num_met {font-family: "Courier New", Courier, monospace; font-size: 12px; font-weight: bold; }
.carry {text-align:center }

@page {margin-left:0.3cm; margin-right:0.3cm;
     size: portrait;
     counter-increment: page;
     @bottom-right {
        padding-right:20px;
        content: "Page " counter(page);
      }     
}