
table.warning_body { border: none;  border-collapse:collapse; font-family: 'Times New Roman', Times, serif; 
               font-size: 12px; page-break-inside: avoid; margin-bottom:1px }
table.warning_body td { padding-top:1px; padding-bottom: 1px; padding-left:1px;padding-right:1px; }


p.warning_p {text-indent: 10px; margin-top:1px; margin-bottom: 1px;  padding-bottom: 1px;padding-top: 1px;}

p.warning_p2 {margin-top:5px; margin-bottom: 1px; }
p.warning_pb {text-indent: 30px; margin-top:1px; margin-bottom: 1px;  padding-bottom: 1px;padding-top: 1px; font-weight: bold;}
p { font-family: 'Times New Roman', Times, serif; font-size: 12px; line-height: 12px; }

.header1 { font-family: 'Times New Roman', Times, serif; font-size: 11px; line-height: 14px; text-decoration: underline; }
.header2 { font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 18px; font-weight: bold; }
.header3 { font-family: 'Times New Roman', Times, serif; font-size: 12px; line-height: 14px; }


.warning_header {margin-top:5px; margin-bottom: 1px; font-weight: bold;}

.span_under{
      display: inline-block; 
      border-bottom: 1px solid black;        
      font-size: 14px;
    }

.span_under18{
      display: inline-block; 
      border-bottom: 1px solid black;        
      font-size: 18px;
    }
    
.span_under_12{
      font-size: 14px; line-height: 16px;
      display: inline-block; 
      border-bottom: 1px solid black;        
    }
.warning_under {display: inline-block;  font-family: 'Times New Roman', Times, serif; font-size: 8px; line-height: 6px; margin:0px; padding: 0px; text-align:center;}
    
@page {margin-left:0.5cm; margin-right:0.5cm;}

@media print {
/* style sheet for print goes here */
    table.warning_body { width:100%; border: none;  border-collapse:collapse; 
                   font-family: 'Times New Roman', Times, serif; font-size: 11px;page-break-inside: avoid;}

}
 